form.signup,
form.login {
    margin-top: 50px;
}

.dropmenuBtn,
h1,
h2 {
    text-align: center;
}

.btn-secondary,
.dropdown-toggle {
    font-size: 14px;
}

.navbar-default {
    background-color: transparent;
}

.welcome-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/money-stack.gif");
    opacity: 80%;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.welcome-moolah {
    font-family: 'Comfortaa', cursive;
    font-size: 65px;
    text-align: center;
    font-weight: lighter;
    padding-top: 30%;
    text-shadow: 2px;
}

.login-signup {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.signup-btn,
.login-btn {
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
}

.plusBtn {
    color: green;
    font-size: 40px;
    text-align: center;
}

.mainContentDiv {
    border-left: 2.5px lightgray solid;
    border-right: 2.5px lightgray solid;
    padding-right: 25px;
    padding-left: 25px;
}